   /* INICIO INDEX */
html { 
    height: 100%;
}
body { 
    min-height: 100%;
    background-image: url(../img/mensworking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    gap: 20px;
    /* grid-template-rows: repeat(3, auto); */
}

.main-titulo h1{ 
    display: flex;
    color: black;
}

/* inicio contenedor principal */
.main-container { 
    display: grid;
    grid-template-columns: 3fr 3fr; 
    font-style: italic;
}
.titulosecundario-index { 
    font-size: 2rem;
    color: black;
    display: grid;
    text-align: center;
    align-items: center;
}
.slogan { 
    font-size: 1,5rem;
    color: black;
}
.title-news { 
    background-color: rgb(232, 224, 11);
    font-size: 2rem ;
    border-radius: 20px;

}
.iframe-news{ 

    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-content: center;
    height: 50vh;
}
footer { 
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(0, 0, 0, 0.622);
    color: white;

}
footer h2, h3 { 
    text-align: center;
    color: white;
}
.logos-items{ 
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.logos-items a i{ 
    color: white;
    font-size: 2rem;

}
